body {
    background-color: rgb(35, 35, 35);
    color: white;
    margin: 0;
    font-family: 'Roboto Mono', monospace;
}

header,
footer {
    background-color: rgb(46, 43, 43);
}

main {
    width: 80%;
    margin: 20px auto;
}

.nav-list {
    width: 80%;
    margin: 0 auto;
    padding: 2rem 4rem;
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-item a:hover {
    color: rgb(177, 37, 37);
    text-decoration: underline;
    text-underline-offset: 5px;
}

a {
    color: white;
    text-decoration: none;
}

section {
    padding: 1rem 0 0;
}

h3 {
    font-weight: 700;
    font-style: italic;
    font-size: 1.5rem;
    background: linear-gradient(50deg, grey, rgb(35, 35, 35) 45%);
    padding: 1rem;
    margin: 0;
    border-radius: 5px;
}

.my-photo {
    display: block;
    margin: 2rem auto;
    width: 300px;
    height: 300px;
    border-radius: 50%;
}

.title-block {
    text-align: center;
}

.name {
    font-family: 'Noto Serif', serif;
    font-size: 4rem;
    margin: 0.8rem 0 0.5rem;
}

.position {
    font-family: 'Noto Serif', serif;
    font-size: 2rem;
}

#contacts ul {
    width: 100%;
    display: flex;
}

#contacts li {
    width: 25%;
    height: 100px;
    list-style: none;
    text-align: center;
}

#contacts li svg {
    width: 50px;
    height: 50px;
}

#contacts a {
    display: block;
    width: 100%;
    height: 100%;
}

#code-example pre {
    border-left: 20px solid rgb(177, 37, 37);
    background-color: rgb(68, 45, 45);
    padding: 20px 0
}

#code-example code {
    font-size: 1rem;
    line-height: 1.2rem;
}

@media all and (max-width: 1400px) {
    #code-example code {
        font-size: 0.8rem;
        line-height: 0.9rem;
    }
}

.footer-container {
    display: flex;
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    justify-content: space-between;
    align-items: baseline;
}

.footer-container p {
    margin: 0;
}

.rs-logo {
    width: 100px;
    height: auto;
}
